@font-face {
  font-family: "Helvetica";
  src: local("Helvetica Neue Bold"), local("HelveticaNeue-Bold"),
    url("fonts/HelveticaBold.otf"), url("fonts/HelveticaNeue.OTF");
}

@font-face {
    font-family: "Poppins";
    src: url("fonts/Poppins-Regular.ttf")
}

body {
    margin:0;
}

body,button {
    font-family: "Poppins";
}

.container {
  display: grid;
  grid-template-areas: "movie sidebar";
  grid-template-columns: 1fr 25em;
}

#app1 {
  grid-area: movie;
}

#app2 {
    height: 100vh;
    /* background-color: rgba(255, 0, 0, 0.233); */
  grid-area: sidebar;
  position: relative;
  
  }

  #flex {
 position:fixed;
 top:10em;
      margin:5em;
    font-family: "Helvetica";
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #flex div {
      color: rgb(97, 97, 97);
      padding: .5em;
      letter-spacing: -.8px;
      font-size: 1em;
      transition: .5s all;
  }

  #flex div.title {
    /* font-size: 1.2em; */
  }

  #flex div.activable:hover {
      color: rgb(120, 206, 255);
      cursor: pointer;
  }

  #flex div.active {
      color:orange
  }

  .vuesax-input {
    width: 200px;
    top:7em;
    right:7.5em;
    position: fixed;
    font-family: 'Helvetica';
  }

  input{
    font-family: "Helvetica";
  }

  
  ul {
    display: flex;
    flex-wrap: wrap;
  }

  .list-item {
    margin:30px;
    margin-top: 80px;
    overflow: visible;
  }

  .list-item div {
    width:250px;
    height:300px;
    display: flex;
    flex-direction: column;
  }

  .list-item img {
    border-radius: 1em;
    height: 200px;
    position: absolute;
    margin-top: -100px;
    box-shadow: 10px 9px 55px 0px rgba(0,0,0,0.33);
    box-shadow: 10px 9px 38px -8px rgba(0,0,0,0.15);
  }

  .card-text {
    position: absolute;
    top:175px;
    font-size:.7em;
  }

  .card-text h4 {
    font-size: 1.4em;
    margin-bottom: .3em;
  }


  /* animate */

  .list-enter-active, .list-leave-active {
    transition: all 1s;
  }
  .list-enter, .list-leave-to {
    opacity: 0;
    transform: translateX(30px);
  }

  .list-move {
    transition: transform 1s;
  }